

.balance {
    padding-top: 45px;
    padding-bottom: 40px;
    &__container {
        max-width: 1380px;
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content 147px;
        grid-template-areas:
        "a b"
        "a c"
        "d d";

        @media (max-width: 992px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
            "a"
            "c"
            "b"
            "d";
        }
        row-gap: 15px;
        column-gap: 25px;
    }
    &__overall {
        grid-area: a;
        background-color: var(--themeColor2);
        & .top-balance {
            margin-bottom: -10px;
        }
        & .bottom-balance {
            border: 1px solid var(--tableBorder);
            border-radius: 0 0 9px 9px;
        }
    }
    &__cryptocurrency {
        grid-area: d;
        background-color: var(--themeColor2);
        & .top-balance {
            margin-bottom: -10px;
        }
        & .bottom-balance {
            border: 1px solid var(--tableBorder);
            border-radius: 0 0 9px 9px;
        }
    }
    &__promocode {
        grid-area: c;
        background-color: var(--themeColor2);
        & .top-balance {
            border: 0;
        }
    }
    &__metamask {
        grid-area: b;
    }

    & .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;

    }
}

.overall {
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 9px 9px;
    &__top {
    }
    &__title {
    }
    &__bottom {
        flex-basis: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__balance {
        margin-top: auto;
        & span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 30.7674px;
            line-height: 123%;
            color: var(--mainColor);
            text-align: center;
            margin-bottom: 6px;
        }
        @media (max-width: 992px) {
            margin-bottom: 10px;
        }
    }
    &__total {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #28C700;
        text-align: center;
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
    }
    &__buttons {
        margin-top: auto;
        display: flex;
        @media (max-width: 992px) {
            display: flex;
            width: 100%;
        }
    }
    &__btn {
        cursor: pointer;
        display: block;
        border-radius: 9px 0px 0px 9px;
        padding: 8px 75px;
        width: 100%;
        color: #fff;
        display: inline;

        @media (max-width: 992px) {
            padding: 8px 15px;
        }
    }

    & button.depsit {
        background: linear-gradient(90.89deg, #013EDD 0%, #2E67FE 100%);
        transform: translateX(3px);
    }
    & button.withdraw {
        background: linear-gradient(90.89deg, #DD0D54 0%, #FF4383 100%);
        border-radius: 0px 9px 9px 0px;
        transform: translateX(-3px);
    }
}

.top-balance {
    z-index: 3;
    position: relative;
    background-color: var(--themeColor2);
    padding: 20px 18px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--tableBorder);
    border-radius: 8px;
    &__btn {
        cursor: pointer;
        display: block;
        padding: 5px 16px;
        border: 1px solid var(--tableBody);
        border-radius: 6px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 122%;
        color: var(--footerGray);
    }
}

.title {
}

.tran-btn {
}



.cryptocurrency {
    @media (max-width: 660px) {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    @media (max-width: 767px) {

    }

    &::-webkit-scrollbar {
        height: 8px;
        width: 0 !important;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: #d3d3d3;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #0077f6;
        border-radius: 4px;
    }
    border-radius: 8px 8px 9px 9px;
    &__top {
    }
    &__bottom {
        min-height: 300px;
        padding-top: 10px;
    }

    .table {
        border: 0;
        padding: 0;
    }
    .tbody {


        tbody td, thead th {
            @media (max-width: 768px) {
                padding: 15px 8px;
            }
        }
    }
    & tr, & td {
    }

    // table {
    //     &:first-child {
    //         width: 400px;
    //         min-width: 400px;
    //     }
    //     &:nth-child(2) {
    //         width: 250px;
    //         min-width: 250px;
    //     }
    //     &:nth-child(3) {
    //         width: 350px;
    //         min-width: 350px;
    //     }
    //     &:last-child {
    //         width: 218px;
    //         min-width: 218px;
    //     }
    // }
    & thead {

        & tr {

            border: 0;

        }
        & th {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(13px, 1.304vw, 15px);
            line-height: 120%;
            color: var(--mainColor);

            &:nth-child(2) {
                @media (max-width: 767px) {
                    display: none;
                }
            }
            // @media (max-width: 1350px) {
            //     padding: 16px 15px;
            // }
            // &:first-child {
            //     width: 42.6%;
            // }
            // &:nth-child(2) {
            //     width: 22.4%;
            // }
            // &:nth-child(3) {
            //     width: 22.7%;
            //     padding-left: 10px;
            // }
            // &:last-child {
            //     width: 14.3%;
            // }
            // @media (max-width: 991px) {
            //     width: 250px !important;

            //     &:nth-child(2) {
            //         padding-left: 42px;
            //     }
            //     &:nth-child(3) {
            //         width: 100px !important;
            //         padding-left: 49px;
            //     }
            //     &:last-child {
            //         width: 200px !important;
            //     }
            // }
            @media (min-width: 1250px) {
                &:first-child {
                    width: 400px;
                    min-width: 400px;
                }
                &:nth-child(2) {
                    width: 250px;
                    min-width: 250px;
                }
                &:nth-child(3) {
                    width: 350px;
                    min-width: 350px;
                }
                &:last-child {
                    width: 218px;
                    min-width: 218px;
                }
            }

        }
    }
    & tbody {
        border: 0;
        box-shadow: none;

        & picture {
            flex-shrink: 0;
        }
        & tr {
            &:first-child {
                border-top: 1px solid var(--tableBorder);
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--tableBorder);
            }

            @media (any-hover: hover) {
                &:hover {
                    background-color: var(--balanceBg);
                }
            }
        }
    }
    & tr {
        // @media (min-width: 991px) {
        //     display: flex;
        //     align-items: center;

        // }
        // display: flex;
        // align-items: center;
    }
    & td {
        vertical-align: middle;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(12px, 1.478vw, 17px);
        line-height: 123%;
        color: var(--mainColor);

        @media (min-width: 1250px) {
            &:first-child {
                width: 400px;
                min-width: 400px;
            }
            &:nth-child(2) {
                width: 350px;
                min-width: 250px;
            }
            &:nth-child(3) {
                width: 250px;
                min-width: 350px;
            }
            &:last-child {
                width: 218px;
                min-width: 218px;
            }
        }


        &:last-child {
            text-align: end;
        }
        &:nth-child(2) {
            @media (max-width: 767px) {
                display: none;
            }
        }
        & img, & picture {
            vertical-align: middle;
            margin-top: -3px;
        }
        & img {
            margin-right: 8px;
            @media (max-width: 660px) {
                width: 20px;
                height: 20px;
                margin-right: 4px;
            }
        }

        & .name-wallet {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(12px, 1.478vw, 17px);
            line-height: 123%;
            color: var(--mainColor);

        }
        & .small-wallet {
            margin-left: 9px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(13px, 1.478vw, 17px);
            line-height: 123%;
            color: #8B97C1;

            @media (max-width: 660px) {
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }

        }
        & button {
            cursor: pointer;
            display: inline-block;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(11px, 1.043vw, 12px);
            line-height: 125%;
            color: var(--mainColor);
            padding: 7px 14px;
            border-radius: 4px;
            @media (max-width: 660px) {
                padding: 5px 10px;
                display: block;
                width: 100%;
            }
            &:not(:last-child) {
                margin-right: 10px;
                @media (max-width: 660px) {
                    margin-right: 0px;
                    margin-bottom: 7px;
                }
            }

            &.deposit {
                background: linear-gradient(90.89deg, #013EDD 0%, #2E67FE 100%);
            }
            &.withdraw {
                background: linear-gradient(90.89deg, #DD0D54 0%, #FF4383 100%);
            }
        }
    }
}

.currency {
    &__item {
        padding: 16px 18px;
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    &__name {
        display: flex;
        align-items: center;
        & span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 122%;
            color: var(--mainColor);
            margin-left: 12px;
        }
    }
    &__num {
        & span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 122%;
            color: var(--mainColor);

        }
    }
}


.promocode {
    background: var(--themeColor2);
    border: 1px solid var(--tableBorder);
    border-radius: 9px;
    &__top {
        border: 0;
    }
    &__title {
    }
    &__bottom {
        padding: 0 20px;
        @media (max-width: 991px) {
            padding: 30px 20px;
        }
    }
    &__form {
    }
}

.form-promocode {
    display: flex;
    &__input {
        background: var(--tagBody);
        border: 1px solid var(--tableBorder);
        border-radius: 9px 0 0 9px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12.34px;
        line-height: 125%;
        color: var(--mainColor);
        padding: 11px 18px;

        &::placeholder {
            color: var(--mainColor);
        }
    }
    &__btn {
        padding: 10.4px 15px 10px;
        font-size: 15.3016px;
    }
    &__fieldset--input {
        flex-basis: 100%;
    }
}

.btn {
}

.metamask {
    background: linear-gradient(270deg, #D56425 0%, #F99157 100%);
    border-radius: 9px;
    display: flex;
    padding: 0 20px;

    @media (max-width: 992px) {
        padding: 0 10px;
        justify-content: space-between;
    }
    &__image {
        flex-shrink: 0;
        align-self: center;
    }
    &__content {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        @media (max-width: 992px) {
            padding: 10px 0;
        }
    }
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(15px, 1.739vw, 20px);
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 5px;

    }
    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(10px, 1.304vw, 15px);
        line-height: 18px;

        color: #E4E4E4;
        margin-bottom: 13px;
    }
    &__btn {
        border-radius: 9px;
        align-self: flex-end;
        padding: 9px 26px;

        @media (max-width: 992px) {
            margin-top: auto;
        }
    }
}
