.create-token {


    &__container {
    }
    &__body {
        background: var(--themeColor2);
        border-radius: 8px;
        overflow: hidden;
    }
    &__title {
        margin-bottom: -5px;
        background: var(--themeColor2);
        border-color: var(--tableBorder);
        font-size: 18px;
        font-weight: 500;
    }
    &__form {
        border: 1px solid var(--tableBorder);
        border-radius: 0 0 8px 8px;
        padding: 30px 20px 20px;

        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 18px;
        row-gap: 14px;
    }
    &__fieldset {
    }
    .fieldset-checkbox {

    }
    .fieldset-btn {
        grid-column: 1 / -1;
    }
    &__checkbox {
    }
    &__btn {
        cursor: pointer;
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: #0077F6;
        border-radius: 6px;
        padding: 5px 6px;
        margin-top: 10px;

        transition: all .3s ease;
        @media (any-hover: hover) {
            &:hover {
                background: #1346CC;
            }
        }
    }
}
