html.dark {
    & .header {
        border-bottom: 1px solid #18297B;
        background-color: var(--themeColor);

        &::before {
            background-color: #18297B !important;
        }
    }
    & .menu__item.menu__arrow {
        & svg {
            fill: #fff;
        }
    }
    & .profile__link a svg {
        fill: #fff;
        stroke: #fff;
    }
    & .profile__link {

        @media (any-hover: hover) {
            &:hover {
                & svg {
                    fill:  var(--hoverText);
                    stroke:  var(--hoverText);
                }
            }
        }
    }
    & .menu__subitem {

        & svg {
            fill: #fff;
            stroke: #fff;
        }
    }
}
body.active {
    & .menu {
        right: 0;
    }
    & .header {
        @media (max-width: 1200px) {
            &::before {
                content: "";
                display: block;
                bottom: 0;
                left: 0;
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: #D9D9D9;
                z-index: 21;
            }
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--themeColor);
                z-index: 11;
            }
        }
    }
}
.header {
    background-color: var(--themeColor);
    position: relative;
    border-bottom: 1px solid #D9D9D9;
    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 50;
        transition: all .3s ease;
        background-color: var(--themeColor);
    }



    &__container {
        max-width: 1890px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__body {
        display: flex;
        align-items: center;
        padding: 14px 0;
    }
    &__logo {

    }
    &__menu {
    }
    &__profile {
        z-index: 20;
    }

    .in-header-hide {
        display: none;
    }
}
 .logo {
    z-index: 20;
    & a {
        display: flex;
        align-items: center;
    }


    & span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 17.5714px;
        line-height: 123%;
        color: var(--logoColor);
        margin-left: 11px;

    }
 }



.menu {
    z-index: 20;
    margin: 0 55px;
    flex-basis: 100%;
    @media (max-width: 1200px) {

    }
    @media (max-width: 1350px) {
        position: fixed;
        top: 0;
        right: -100%;
        max-width: 375px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: right .4s ease;
        background-color: var(--bgColor);
        z-index: 10;
        padding: 100px 30px 40px;


        margin: 0;

        & .menu__item {
            margin-bottom: 25px;
            & a,  & span{
                // @include adaptive-value("font-size", 30, 23, 1);
                font-size: 16px;
                line-height: 120%;

            }
        }
    }
    @media (max-width: 767px) {

    }
    &__list {
        @media (min-width: 1350px) {
            display: flex;
            margin-top: 0;
        }
        @media (max-width: 1350px) {
            display: flex;
            flex-direction: column;
        }
        margin-top: 13px;

    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: 1350px) {
            display: block;
        }
        & svg {
            margin-left: 6px;

        }
        & a, & span {
            cursor: pointer;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: clamp(14px, 1.304vw, 15px);
            line-height: 126%;
            color: var(--mainColor);
            transition: color .3s ease;
            @media (any-hover: hover) {
                &:hover {
                    color: #1346CC;

                    & svg {
                        fill: #1346CC !important;
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-right: 42px;
        }

        @media (max-width: 1200px) {
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
        &.hide-pc {
            @media (min-width: 1350px) {
                display: none;
                position: absolute;
                top: -9999px;
            }
            @media (max-width: 1350px) {
                order: -2;
            }
        }

        &._hover {
            @media (min-width: 1350px) {
                & .menu__sublist {
                    display: block;
                }

            }
            & > a, & span{
                color: #1346CC;
            }
            & span svg {
                fill: #1346CC !important;
                transform: rotate(-180deg);
            }
        }

        & span._active svg{
            fill: #1346CC !important;
            transform: rotate(-180deg);
        }
        & > span{
            display: flex;
            align-items: center;
        }
        & span{
            transition: all .3s ease;
        }
        & span._active span{
            color: #1346CC;
        }
        & svg{
            transition: all .3s ease;
        }

        @media (min-width: 1350px) {
            &:last-child {
                margin-left: auto;
            }
        }

        &.my-wallet {
            @media (max-width: 1350px) {
                order: -1;
            }
        }
        &.market-tools {
            @media (max-width: 1350px) {
                order: 5;
            }
        }

    }
    &__sublist {
        @media (min-width: 1350px) {
            z-index: 50;
            position: absolute;
            display: none;
            top: calc(100% + 7px);
            padding: 0px 13px 9px 10px;
            background: #FFFFFF;
            border: 1px solid #1346CC;
            border-radius: 5px;
            background-color: var(--bgColor);

        }
        @media (max-width: 1350px) {
            padding: 0 5px 12px 12px ;
        }
    }
    &__subitem {
        margin-top: 12px;
        min-width: 142px;
        & a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14.69px;
            line-height: 128%;
            color: var(--checGray);
            display: flex;
            align-items: center;
            @media (max-width: 1350px) {
                // font-size: calc(20px + 10 * ((100vw - 320px)/ 860)) !important;
                font-size: 14px !important;
                line-height: 125%;

            }
        }
        & svg {
            margin-right: 6px;
            stroke: #b6b6b6;
            fill: #b6b6b6;
        }
        @media (max-width: 1350px) {
            border: 0;

        }
    }

}

.my-wallet {
    .menu__sublist {
        right: 0;
    }
}

.profile {
    position: relative;
    flex-shrink: 0;
    @media (max-width: 600px) {
        width: max-content;
        margin-top: 20px;
    }
    @media (min-width: 600px) and (max-width: 1350px) {
        margin-left: auto;
    }
    @media (max-width: 991px) {
        display: none;
    }
    &__btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #1346CC;
        border-radius: 8px;
        padding: 7px 15px;
        transition: background-color .3s ease;
        @media (any-hover: hover) {
            &:hover {
                background-color: #123ead;
            }
        }

        & > span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(14px, 1.304vw, 15px);
            line-height: 126%;
            color: #fff;
            margin-right: 13px;
        }
        & > img {
        }
    }

    &.active {
        & .profile__sublist {
            display: block;
        }
    }
    &__img {
        display: block;
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }
    &__sublist {
        z-index: 50;
        position: absolute;
        min-width: 290px;
        top: calc(100% + 12px);
        right: 0;
        display: none;
        padding: 36px 20px;
        background: var(--themeColor);
        border: 1px solid #1346CC;
        border-radius: 5px;
        z-index: 50;
    }
    &__info {
        display: flex;
        column-gap: 20px;
    }
    &__links {
        margin-top: 22px;
    }
    &__link {
        margin-top: 9px;
        & a {
            display: flex;
            align-items: center;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            color: var(--checGray);
            font-size: 14.69px;
            line-height: 128%;

            transition: color .3s ease;

            & svg {
                fill: #6b6b6b;
                stroke: #6b6b6b;
                transition: all .3s ease;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                & a,
                & svg {
                    color: var(--hoverText);
                    fill:  var(--hoverText);
                    stroke:  var(--hoverText);
                }
            }
        }


    }
    &__image {
        margin-right: 6px;
    }

}

.info-profile {

    border-bottom: 1px solid var(--tableBorder);
    padding-bottom: 17px;
    @media (max-width: 991px) {

    align-items: center;

    }
    &__image {
        flex-shrink: 0;
        display: block;
        width: 69px;
        height: 69px;
        border-radius: 50%;

        @media (max-width: 991px) {
            width: 85px;
            height: 85px;
        }
        & img {
            @media (max-width: 991px) {
                width: 85px;
                height: 85px;
            }
        }
    }
    &__user {

        & span {
            display: inline-block;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12.1159px;
            line-height: 125%;
            color: var(--grey);

            &:not(:last-child) {
                margin-bottom: 7px;
            }
            @media (max-width: 991px) {
                color: var(--menuColorUser);
                // @include adaptive-value("font-size", 20, 18, 1);
                font-size: 16px;
            }
        }
        & > span {

            @media (max-width: 991px) {
                display: block;
            }
        }
    }
    &__name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 17.5714px;
        line-height: 123%;
        color: var(--mainColor);
        margin-bottom: 4px;

        @media (max-width: 991px) {
            // @include adaptive-value("font-size", 30, 24, 1);
            font-size: 16px;
        }
    }
    &__login {
    }
    &__id {
    }
}

.dark .log-out svg {
    fill: #fff;
}
.log-out {
    margin-top: 15px;
    display: flex;
    align-items: center;
    & span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14.69px;
        line-height: 128%;
        color: var(--checGray);
        white-space: nowrap;

        transition: color .3s ease;
    }
    & svg {
        transition: all .3s ease;
        fill: #6b6b6b;
        margin-left: 9px;
    }
    @media (max-width: 991px) {
        & span {
            // font-size: calc(23px + 7 * ((100vw - 320px)/ 860));
            font-size: 16px;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            & span {
                color: var(--hoverText);;
            }
            & svg {
                fill: var(--hoverText);
            }
        }
    }
}

.select_lang-select {
    margin-left: 25px;
    z-index: 20;
    @media (max-width: 1350px) {
        margin-right: 30px
    }
    @media (max-width: 767px) {
        margin-right: 15px
    }
    @media (max-width: 991px) {
        margin-left: auto;
    }


    .select-span-text {
        display: none;
    }
}


.burger {
    order: 20;
}




.burger {
    display: none;
}
@media (max-width: 1350px) {
    body {
        &.active .burger{
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 0.75px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(45deg);
                    top: calc(50% - 0.75px);
                }
            }
        }
    }
    .burger {
        position: relative;
            display: block;
            width: 26px;
            height: 20px;
            cursor: pointer;
            z-index: 1001;

            span {
                transition: all 0.3s ease 0s;
                left: 0px;
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: #0051F4;
                &:first-child {
                    top: 0px;
                }
                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child {
                    bottom: 0;
                }
            }
    }
}

