.information {

    &__container {
    }
    &__body {
    }
    &__title {
        position: relative;
        padding: 15px 18px ;
        font-size: clamp(14px, 1.391vw, 16.9565px);
        line-height: 131%;
        color: #000000;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        margin-bottom: -10px;
        z-index: 10;
    }
    &__content {
        padding: 30px 18px 20px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 9px;
    }
    &__item {
        display: flex;
        align-items: center;
        & span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: clamp(11px, 1.043vw, 12px);
            line-height: 125%;
            color: #6B6B6B;
            padding-top: 1px;
        }
        &::before {
            content: '';
            width: 11px;
            min-width: 11px;
            min-height: 11px;
            height: 11px;
            display: block;
            background: #6B6B6B;
            margin-right: 5px;
            border-radius: 50%;

            @media (max-width: 767px) {
                align-self: flex-start;
            }
        }

        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }

}
