.information {

    &__container {
    }
    &__body {
        margin-bottom: 35px;
    }
    &__title {
        position: relative;
        padding: 15px 18px ;
        font-size: clamp(14px, 1.391vw, 16.9565px);
        line-height: 131%;
        color: var(--mainColor);
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 8px;
        margin-bottom: -10px;
    }
    &__content {
        padding: 30px 34px 20px;
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
    }
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        & span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: clamp(11px, 1.043vw, 12px);
            line-height: 125%;
            color: var(--footerGray);
            padding-top: 1px;
        }
        &::before {
            content: '';
            width: 11px;
            min-width: 11px;
            min-height: 11px;
            height: 11px;
            display: block;
            position: absolute;
            top: 2px;
            left: -16px;
            background: var(--footerGray);
            margin-right: 5px;
            border-radius: 50%;

            @media (max-width: 767px) {
                align-self: flex-start;
            }
        }

        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }

}
