.security {


    &__container {
    }
    &__body {
        padding: 30px 0;
    }
    &__items {
    }
    &__item {

        &:not(:last-child) {
            margin-bottom: 15px;
        }
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding: 15px 25px;
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;

        @media (max-width: 767px) {
            display: grid;
            grid-template-columns: max-content auto;
        }
    }
    &__img {
        flex-shrink: 1;
        width: 78px;
        height: 78px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        background: linear-gradient(303.09deg, #2D60E7 -1.72%, #0945E3 105.24%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text {
        align-self: flex-start;
        padding-top: 3px;
    }
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 1.739vw, 20.7339px);
        line-height: 125%;
        color: var(--mainColor);
        margin-bottom: 9px;
    }
    &__subtitle {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(12px, 1.217vw, 14.5984px);
        line-height: 128%;
        color: var(--mainColor);

    }
    &__button {
        max-width: 172px;
        width: 100%;
        margin-left: auto;
        @media (max-width: 767px) {
            grid-column: 1 / -1;
            width: 100%;
            margin-top: 20px;
            max-width: none;
        }
    }
    &__btn {
        padding: 12px 15px;
        text-align: center;
        width: max-content;
        border-radius: 9px;
        font-size: clamp(18px, 1.739vw, 20.1676px);
        line-height: 120%;

        color: #FFFFFF;

        width: 100%;
        @media (max-width: 767px) {
           text-align: center;
        }
    }
}




.popup_connectwallet {

    ._active {
    }
    .popup__content {
    }


    .btn {
    }
    .popup__close {
    }
    .close-plus {
    }

}
.connectwallet-popup {

    .popup__body {
        max-width: 500px;
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
        padding: 0;
    }
    &__top {
        padding: 17px;
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
        margin-bottom: -10px;
        z-index: 10;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 1.739vw, 20.7339px);
        line-height: 122%;
        color: var(--mainColor);

    }
    &__bottom {
        padding: 32px 17px 22px;
    }
    &__form {


        & fieldset {
            margin-bottom: 15px;

            &:last-child {
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
        & input {
            display: none;

            &:checked ~ label {
                outline: 1px solid #1A66FF;
            }
        }
        & label {
            background: linear-gradient(90.78deg, #293C96 0%, #2F4CD9 100%), #2D41A3;
            border-radius: 9px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;

            & span {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 122%;
                color: #FFFFFF;

            }
        }

        & button {
            width: 100%;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            border-radius: 9px;
        }
    }

    .connectwallet__tabs {

    }
    .tabs__nav {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .tabs__nav-btn {
        position: relative;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11.1176px;
        line-height: 13px;
        width: max-content;
        color: var(--tableHead);
        &.active {
            color: var(--mainColor);
            &::before {
                content: '';
                position: absolute;
                background-color: #1A66FF;
                height: 1px;
                width: 100%;
                bottom: -3px;
                left: 0;
            }
        }

        &:not(:last-child) {
            margin-right: 17px;
        }
    }
    .active {
    }
    .tabs__content {
    }
    .tabs__item {

        & textarea {
             width: 100%;
            resize: none;
            padding: 13px 10px;
            background: var(--textarea);
            border: 1px solid var(--tableBorder);
            border-radius: 9px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.1176px;
            line-height: 13px;
            color: var(--mainColor);


            &::placeholder {
                color: var(--tableHead);
            }
            &:focus {
                outline: 0;
            }
        }
    }
}


.authorization-popup {


    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
    & fieldset{
        text-align: center;
    }
    & span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15.066px;
        line-height: 18px;
        color: var(--mainColor);
        text-align: center;
    }
    & input {
        display: block;
        width: 100%;
        padding: 12px 48px;
        background: var(--textarea);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17.0166px;
        line-height: 123%;
        color: var(--mainColor);
        margin-top: 6px;

       &::placeholder {
           color: var(--tableHead);
       }
       &:focus {
           outline: 0;
       }
   }
}