.withdrawals-block {

    & .form-tabs {

    }
    & .withdrawals__content {
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
    }

    & .form-tabs__commission {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        color: var(--mainColor);

        @media (max-width: 767px) {
            margin-top: 13px;
        }
    }
    & .form-tabs__btn {
        font-weight: 400;
    }
    & .form-tabs__fieldset {

        @media (min-width: 767px) {
            align-items: center;
        }
    }
}




.popup_withdrawals {



    .popup__content {
    }
    .popup__body {
        max-width: 500px;
        padding: 40px 17px 21px;
        background: var(--themeColor2);
        border: 1px solid var(--tableBorder);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 767px) {
            padding: 25px 14px 15px;
        }
    }
    .btn {
    }
    .popup__close {
    }

}

.withdrawals-popup {

    &__image {
        margin: 0 auto;
        margin-bottom: 18px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 1.739vw, 20.7339px);
        line-height: 25px;
        color: var(--mainColor);
        text-align: center;

        margin-bottom: 25px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    &__num {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(24px, 3.391vw, 39.649px);
        line-height: 48px;
        color: var(--mainColor);
        text-align: center;
        margin-bottom: 25px;
        @media (max-width: 767px) {
            margin-bottom: 15px;
        }

    }
    &__text {

        & p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: clamp(12px, 1.304vw, 15px);
            line-height: 18px;
            text-align: center;
            color: #8B97C1;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }
    &__btn {
        margin-top: 20px;
        padding: 11px 15px;
        background: #0077F6;
        border-radius: 9px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        @media (max-width: 767px) {
            margin-top: 15px;
        }
    }
}