
html.dark {



	& .select__value::after {
		background: url("../img/arrow-down-dark.svg") center / 100% no-repeat;
	}
}
html.light {
	& .select__value::after {
		background: url("../img/arrow-down-light.svg") center / 100% no-repeat;
	}
}

.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;

	}
	// .select__title
	&__title {
		cursor: pointer;
		background: var(--bgColor);
		border: 1px solid var(--tableBorder);
		border-radius: 8px;
		padding: 11px 9px;
		& .title-span {
			display: none;
		}
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 14px;
		align-items: center;

		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #506690;
		span {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			display: flex;
			align-items: center;
			justify-content: center;
			// width: 65px;
			// height: 65px;
			// border-radius: 50%;
			// border: 2px solid #e0e3eb;

			& img {
				width: 43px;
				max-width: none;
			}
		}
		& > span {
			margin-right: 6px;
		}
		&::after {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7.33px;
			background: url("../img/arrow-down.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		background: var(--bgColor);
		border: 1px solid var(--tableBorder);
		position: absolute;
		top: 60px;
		min-width: 100%;
		right: 0;
		padding: 4px 0;
		border-radius: 8px;
		min-width: 130px;
	}
	// .select__option
	&__option {
		padding: 7px 11px;
		cursor: pointer;
		display: flex !important;
		align-items: center;
		justify-content: space-between;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 14.6898px;
		line-height: 18px;
		color: var(--mainColor);
		& span {
			white-space: nowrap;
		}
		& img {
			width: 32px;
		}
		@media (min-width: 992px) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}
	&._active {
		z-index: 20;
		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}
