*,
*::after,
*::before {
  box-sizing: border-box;
}

html.light {


  & .page__theme {
    .blue-mode {
      display: block;
    }
  }
}
html.dark {


  & .page__theme {
    & span {


      &::before {
        top: 2px;
        left: calc(100% - 3px);
        transform: translateX(-100%);
        transition: all .3s ease;
        background-color: var(--checGray);
      }
    }
    .whrite-mode {
      display: block;
    }
  }

}

html.lock {
  overflow: hidden;

  & body {
    overflow: hidden;
  }
}
html {
  & .page__theme {
    flex-shrink: 0;
    // display: block;
    // width: 25px;
    // height: 25px;
    // border-radius: 50%;
    // margin-left: 30px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    & p {
      display: none;
      margin-left: 6px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: clamp(14px,1.304vw,15px);
      line-height: 126%;
      color: var(--checGray);
      white-space: nowrap;
    }

    & span {
      display: block;
      background-color: var(--grey);
      width: 50px;
      height: 28px;
      border-radius: 13px;
      position: relative;
      &::before {
        transition: all .3s ease;
        content: '';
        position: absolute;
        background-color: #E0E3EB;
        top: 2.5px;
        left: 3px;
        width: 22px;
        height: 22px;
        border-radius: 13px;
      }
    }

    margin-left: 10px;
    @media (max-width: 991px) {
      margin-right: 30px;
    }
    @media (max-width: 600px) {
      margin: 0;
      margin-bottom: 20px;
      & p {
        margin-left: 0;
      }
    }

    @media (min-width: 600px) {
      z-index: 14;
    }
  }
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $fontFamily;
    font-size: $fontSize;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
  background-color: var(--tagBody) !important;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

a {
    display: inline-block;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    line-height: initial;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:not([class]) {
    font-family: $fontFamily;
    font-style: normal;
    font-size: $fontSize;
    color: var(--mainColor);
    line-height: 140%;
}

p:not([class]) {
    font-family: $fontFamily;
    font-style: normal;
    font-size: $fontSize;
    color: var(--mainColor);
    line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

picture {
  display: inline-flex;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.tabs__item {
  display: none;

  &.active {
    display: block;
  }
}