.btn {
    cursor: pointer;
    display: block;
    background: #0077F6;
    border-radius: 0px 9px 9px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.304vw, 15.3016px);
    line-height: 125%;
    color: #FFFFFF;
    padding: 9.2px 15px 8.8px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35.5305px;
    line-height: 122%;
    color: var(--mainColor);
}


.block-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16.9565px;
    line-height: 131%;
    color: var(--mainColor);
    padding: 12px 20px 14px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 100%;
    position: relative;
    z-index: 3;
    background-color: var(--themeColor);
}



html.dark {
    .checkbox-label input {
        border: 1px solid #0077F6;
    }
    .checkbox-label input:checked ~ span {
        color: #fff;
    }
    .checkbox-label span {
        color: #8B97C1;
    }
}

.fieldset-checkbox {

    & input {
        position: relative;
        display: none;

        &:checked ~ label{
            &::before {
                background: #0077F6;
                border: 1px solid #0077F6;
            }
            &::after {
                display: block;
            }
            & span {
                color: var(--mainColor);
            }
        }

    }

}
.checkbox-label {

    display: flex;
    align-items: center;
    width: max-content;
    position: relative;


    &::before {
        content: '';
        width: 17px;
        height: 17px;
        border: 1px solid #6B6B6B;
        border-radius: 3px;
        flex-shrink: 0;
    }
    &::after {
        display: none;
        content: url(../img/check.svg);
        position: absolute;
        top: 0;
        left: 4px;

    }


    & span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15.619px;
        line-height: 126%;
        color: var(--checGray);
        white-space: nowrap;
        margin-left: 6px;
    }

}