$fontFamily: "Inter";
$fontSize: 16px;


html.dark {
    --mainColor: #fff;
    --grey: #6B6B6B;
    --white: #fff;
    --textColor: #fff;
    --themeColor: #0E1A48;
    --themeColor2: #18297B;
    --hoverText: #1E68FF;

    --bgColor: #0A1133;

    --checGray: #fff;

    --tableHead: #8B97C1;
    --tableBody: #fff;
    --tableBorder: #1A66FF;

    --footerGray: #fff;
}
html.light {
    --mainColor: #000;
    --grey: #6B6B6B;
    --white: #fff;
    --textColor: #000;
    --themeColor: #fff;
    --themeColor2: #fff;
    --hoverText: #1346CC;

    --bgColor: #fff;

    --checGray: #6B6B6B;

    --tableHead: #6B6B6B;
    --tableBody: #6B6B6B;
    --tableBorder: #D9D9D9;

    --footerGray: #6B6B6B;
}


$minWidth: 375;
$maxWidth: 1150;
$maxWidthContainer: 1180; // ширина контейнера у проекта без px