$fontFamily: "Inter";
$fontSize: 16px;


html.dark {
    --tagBody: #0A1133;

    --mainColor: #fff;
    --grey: #6B6B6B;
    --white: #fff;
    --textColor: #fff;
    --themeColor: #0E1A48;
    --themeColor2: #18297B;
    --hoverText: #1E68FF;

    --bgColor: #0A1133;

    --checGray: #fff;
    --tableHead: #8B97C1;
    --tableBody: #fff;
    --tableBorder: #1A66FF;

    --footerGray: #fff;
    --testPurp: #fff;
    --tabBtn: #0A1133;

    --verifiText: #fff;
    --verifiSvg: #fff;
    --verifiBorder: #1A66FF;

    --logoColor: #fff;

    --affiliate: #1A66FF;

    --stakeBorder: #1A66FF;
    --stakeColor: #fff;
    --stakeColor2: #fff;
    --stakeColor3: #5d78ff;
    --stakeColor4: #1346cc;
    --stakeColor5: #fff;
    --stakeColor6: #5d78ff;

    --messageColor: #1346cc;
    --messageColor2: #fff;

    --lang: #18297B;

    --menuColorUser: #B1B1B1;

    --securityInputBg: #0A1133;

    --scrollBg: #18297B;

    --balanceBg: #0A1133;

    --accountInput: #0A1133;

    --rulesColor: #8095FF;

    --textarea: #0A1133;

}
html.light {
    --tagBody: #F5F5F5;

    --mainColor: #000;
    --grey: #6B6B6B;
    --white: #fff;
    --textColor: #000;
    --themeColor: #fff;
    --themeColor2: #fff;
    --hoverText: #1346CC;

    --bgColor: #fff;

    --checGray: #6B6B6B;

    --tableHead: #6B6B6B;
    --tableBody: #6B6B6B;
    --tableBorder: #D9D9D9;

    --footerGray: #6B6B6B;
    --testPurp: #506690;
    --tabBtn: #0051F4;

    --verifiText: #5b5b5b;
    --verifiSvg: #023FDD;
    --verifiBorder: #E0E3EB;

    --logoColor: #0051F4;

    --affiliate: #363C4E;

    --stakeBorder: #D9D9D9;
    --stakeColor: #a1a0a7;
    --stakeColor2: #666666;
    --stakeColor3: #fff;
    --stakeColor4: #5d78ff;
    --stakeColor5: #495057;
    --stakeColor6: #405897;

    --messageColor: #d1ecf1;
    --messageColor2: #2c727e;


    --menuColorUser: #000;

    --securityInputBg: #fff;

    --scrollBg: #D9D9D9;

    --balanceBg: #d9d9d9;

    --accountInput: #F2F6FE;

    --rulesColor: #fff;

    --textarea: #F5F5F5;
}


$minWidth: 375;
$maxWidth: 1150;
$maxWidthContainer: 1180; // ширина контейнера у проекта без px