$fontFamily: "Inter";
$fontSize: 16px;


html.dark {
    --mainColor: #fff;
    --grey: #6B6B6B;
    --white: #fff;
    --textColor: #fff;
    --themeColor: #0E1A48;
    --hoverText: #1E68FF;

    --bgColor: #242424;
}
html.light {
    --mainColor: #000;
    --grey: #6B6B6B;
    --white: #fff;
    --textColor: #000;
    --themeColor: #fff;
    --hoverText: #1346CC;

    --bgColor: #fff;
}


$minWidth: 375;
$maxWidth: 1150;
$maxWidthContainer: 1180; // ширина контейнера у проекта без px